.DS_Store
DerivedData/
build/
.build/
xcuserdata/
*.xcuserstate
projects/01_study_dashboard_app/bookmarks.json
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
